<a href="https://colab.research.google.com/github/Pillsandelite/Scrapping/blob/main/scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests

monash_web_url = "https://www.monash.edu/"
response = requests.get(monash_web_url)

response.headers

{'Content-Type': 'text/html; charset=utf-8', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Vary': 'Accept-Encoding, Accept-Encoding', 'Cache-Control': 'max-age=0, private', 'X-Cache': 'HIT from squizedge.net', 'X-Content-Type-Options': 'nosniff', 'Pragma': 'cache', 'Age': '12', 'Server': 'openresty', 'Date': 'Tue, 08 Mar 2022 20:33:05 GMT', 'Via': '1.1 squizedge.net', 'Strict-Transport-Security': 'max-age=15768000;', 'X-upgrade-enabled': 'off', 'X-Frame-Options': 'SAMEORIGIN', 'Expires': 'Tue, 08 Mar 2022 21:03:04 GMT', 'X-Request-ID': '1e078047-81dc-40dc-abca-2450f1c292b9', 'Content-Encoding': 'gzip'}

In [ ]:
response.status_code

200

In [ ]:
response.content[:2000] # check the end index

b'\n\n\n \n<!DOCTYPE html>\n<html lang="en">\n    <head>\n        <meta charset="utf-8" />\n        <meta name="viewport" content="width=device-width, initial-scale=1.0">\n        <title>Monash University - one of the top universities in Australia</title>\n\n        <link rel="canonical" href="https://www.monash.edu" />\n        \n        \n        \r\n<!-- For iPad with high-resolution Retina display running iOS \xe2\x89\xa5 7: -->\r\n<link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/favicon-152.png">\r\n\r\n<!-- For iPad with high-resolution Retina display running iOS \xe2\x89\xa4 6: -->\r\n<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/favicon-144.png">\r\n\r\n<!-- For iPhone with high-resolution Retina display running iOS \xe2\x89\xa5 7: -->\r\n<link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/favicon-120.png">\r\n\r\n<!-- For iPhone with high-resolution Retina display running iOS \xe2\x89\xa4 6: -->\r\n<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/favicon-114.png">\r\n\r\n<!-- For first- and second-generation iPad: -->\r\n<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/favicon-72.png">\r\n\r\n<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->\r\n<link rel="apple-touch-icon-precomposed" href="https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/favicon-57.png">\r\n\r\n<link rel="icon" href="https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/favicon.ico">\r\n<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="https://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/f'

In [ ]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

web_url = 'https://www.zyxware.com/articles/5914/list-of-fortune-500-companies-and-their-websites-2018'
response = requests.get(web_url)

print('Status code\n', response.status_code)
print('\n--\n')
print('Content of the website\n', response.content[:2000])

Status code
 200

--

Content of the website
 b'<!DOCTYPE html>\n<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">\n  <head>\n    <meta charset="utf-8" />\n<script>dataLayer = [];dataLayer.push({"tag": "5914"});</script>\n<script>window.dataLayer = window.dataLayer || []; window.dataLayer.push({"drupalLanguage":"en","drupalCountry":"IN","siteName":"Zyxware Technologies","entityCreated":"1562300185","entityLangcode":"en","entityStatus":"1","entityUid":"1","entityUuid":"6fdfb477-ce5d-4081-9010-3afd9260cdf7","entityVid":"36465","entityName":"webmaster","entityType":"node","entityBundle":"story","entityId":"5914","entityTitle":"List of Fortune 500 Companies and their Websites (2018)","contentType":"articles","SubCategory1":"5914","SubCategory2":"list-of-fortune-500-companies-and-their-websites-2018","entityTaxonomy":{"category":"Business Insight","tags":"Business Insight,Fortune 500,Drupal Insight,Marketing Resources"},"userUid":0,"daysFromCreation":977,"persona":"Drupal"});</script>\n<script>var script = document.createElement(\'script\');\n        var fullDate = new Date();\n        \n        //convert month to 2 digits\n        var twoDigitMonth = ((fullDate.getMonth().length+1) === 1)? (fullDate.getMonth()+1) : \'0\' + (fullDate.getMonth()+1);\n        var currentDate = fullDate.getDate() + \'-\' + twoDigitMonth + \'-\' + fullDate.getFullYear();\n        script.src = \'/sites/default/files/inject_ads/validate.js?tm=\' + currentDate;\n        script.type = \'text/javascript\';\n        document.getElementsByTagName(\'head\')[0].appendChild(script);</script>\n<link rel="canonical" href="https://www.zyxware.com/articles/5914/list-of-fortune-500-companies-and-their-websites-2018" />\n<meta http-equiv="c'

In [ ]:
soup_object = BeautifulSoup(response.content)

In [ ]:
data_table = soup_object.find_all('table', 'data-table')[0]

In [ ]:
all_values = data_table.find_all('tr')
all_values[:10]

[<tr>
 <th>Rank</th>
 <th>Company</th>
 <th>Website</th>
 </tr>, <tr>
 <td>1</td>
 <td>Walmart</td>
 <td><a href="http://www.stock.walmart.com">http://www.stock.walmart.com</a></td>
 </tr>, <tr>
 <td>2</td>
 <td>Exxon Mobil</td>
 <td><a href="http://www.exxonmobil.com">http://www.exxonmobil.com</a></td>
 </tr>, <tr>
 <td>3</td>
 <td>Berkshire Hathaway</td>
 <td><a href="http://www.berkshirehathaway.com">http://www.berkshirehathaway.com</a></td>
 </tr>, <tr>
 <td>4</td>
 <td>Apple</td>
 <td><a href="https://www.apple.com">http://www.apple.com</a></td>
 </tr>, <tr>
 <td>5</td>
 <td>UnitedHealth Group</td>
 <td><a href="http://www.unitedhealthgroup.com">http://www.unitedhealthgroup.com</a></td>
 </tr>, <tr>
 <td>6</td>
 <td>McKesson</td>
 <td><a href="http://www.mckesson.com">http://www.mckesson.com</a></td>
 </tr>, <tr>
 <td>7</td>
 <td>CVS Health</td>
 <td><a href="http://www.cvshealth.com">http://www.cvshealth.com</a></td>
 </tr>, <tr>
 <td>8</td>
 <td>Amazon.com</td>
 <td><a href="https://www.amazon.com">http://www.amazon.com</a></td>
 </tr>, <tr>
 <td>9</td>
 <td>AT&amp;T</td>
 <td><a href="https://www.att.com">http://www.att.com</a></td>
 </tr>]

In [ ]:
print(all_values[0])
print('--')
print(all_values[1])
print('--')
print(all_values[2])

<tr>
<th>Rank</th>
<th>Company</th>
<th>Website</th>
</tr>
--
<tr>
<td>1</td>
<td>Walmart</td>
<td><a href="http://www.stock.walmart.com">http://www.stock.walmart.com</a></td>
</tr>
--
<tr>
<td>2</td>
<td>Exxon Mobil</td>
<td><a href="http://www.exxonmobil.com">http://www.exxonmobil.com</a></td>
</tr>

In [ ]:
fortune_500_df = pd.DataFrame(columns = ['rank', 'company_name', 'company_website']) # Create an empty dataframe
ix = 0 # Initialise index to zero

for row in all_values[1:]:
    values = row.find_all('td') # Extract all elements with tag <td>
    # Pick only the text part from the <td> tag
    rank = values[0].text
    company = values[1].text
    website = values[2].text

    fortune_500_df.loc[ix] = [rank, company, website] # Store it in the dataframe as a row
    ix += 1

# Print the first 5 rows of the dataframe
fortune_500_df.head()

  rank        company_name                   company_website
0    1             Walmart      http://www.stock.walmart.com
1    2         Exxon Mobil         http://www.exxonmobil.com
2    3  Berkshire Hathaway  http://www.berkshirehathaway.com
3    4               Apple              http://www.apple.com
4    5  UnitedHealth Group  http://www.unitedhealthgroup.com

In [ ]:
fortune_500_df.to_csv('fortune_500_companies.csv', index=False)